body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #850707;
    color: rgb(242, 239, 239);
    text-align: center;
    padding: 1em 0;
}

main {
    flex: 1;
}

.hero {
    position: relative;
    background-image: url
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-text {
    background: rgba(0, 0, 0, 0.5);
    padding: 2em;
    border-radius: 10px;
}

.hero button {
    background-color: #ff6347;
    border: none;
    padding: 1em 2em;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}

.hero button:hover {
    background-color: #d3c2bc;
}

footer {
    background-color: #570505;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.button {
    display: inline-block;
    background-color: #ff6347;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}

.button:hover {
    background-color: #ff4500;
}

.hero-container {
    display: flex; /* Activar flexbox */
    align-items: center; /* Alinear verticalmente el contenido */
    justify-content: space-between; /* Distribuir con espacio entre las secciones */
    gap: 20px; /* Espacio entre las secciones */
  }

